<!doctype html>
<html lang="en">
  <head>
      <style>
          .profile-heading {
              padding-top: 10%;
              padding-bottom: 10%;
              color: white;
          }
          .headerr {
              background: linear-gradient(101.82deg, #FF0000 0%, #FF9900 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
          }
          .bg-1 { 
              background-image: url(https://i.imgur.com/qmcXq0N.jpg);
              background-size: cover;
              background-repeat: no-repeat;
              background-position: 50% 50%;
              
          }
          .foto-profil{
              border-radius: 50%;
              max-width: 20%;
              height: auto;
          }
          .profile-about {
              color: lightgrey;
          }
          .text-windu {
              color: white;
          }
      </style>
      
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Windu Andira</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      
  </head>

  <body class="bg-dark">

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="headerr text-white">About</h4>
              <p class="text-muted">This is Windu Andira's profile page. It contains all about Windu's life such as his academy, hobby, and his experience. Need to explore more? please contact Windu!</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="headerr text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="https://www.instagram.com/winduandira/" class="text-white">Follow on Instagram</a></li>
                <li><a href="https://www.facebook.com/Keibbom" class="text-white">Add on Facebook</a></li>
                <li><a href="#" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong class="headerr">Windu's Profile</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">
        <div class="container-fluid profile-heading text-center bg-1">
          <img src="https://i.imgur.com/5NyaRME.jpg" class="foto-profil">
          <h1>Windu Andira</h1>
          <p class='profile-about'>I'm a person who likes to find out new things. I'm quite active but like to laze around the empty time. I have a wonderful life!</p>
          <p class="float-center">
             <a href= "{% url 'activity' %}" class="btn btn-primary my-2 " style="background: linear-gradient(101.82deg, #FF0000 0%, #FF9900 100%)">Activity</a>
          </p>
        </div>
     
      <div class="album py-5 bg-dark">
        <div class="container">
            <div class="container-fluid profile-heading text-left">
                <h1 class="headerr">About Me</h1>
                <p class="text-windu">Windu was born in February 3rd 1999 in a small family. Since that time, i've always lived in Depok City. I've a lot of friend from many circles. Nevertheless, i hope i can explore out of the city to increase my experience and my relationship.</p>
            </div>
            <div class="container-fluid profile-heading text-right">
                <h1 class="headerr">Skills</h1>
                <p class="text-windu">UI/UX</p>
                <p class="text-windu">Web Design</p>
                <p class="text-windu">Branding</p>
                <p class="text-windu">App Design</p>
                <p class="text-windu">Character Creation</p>
            </div>
            <div class="container-fluid profile-heading text-left">
                <h1 class="headerr">Education</h1>
                <p class="text-windu">Windu was graduate from SMA Negeri 2 Depok in 2017 and now i'm a college student of University of Indonesia in bachelor's degree, Computer Science Faculty.</p>
            </div>
            <div class="container-fluid profile-heading text-right">
                <h1 class="headerr">Experience</h1>
                <p class="text-windu">Person in Charge of Creative Media at Pemira Fasilkom UI 2018</p>
                <p class="text-windu">Staff of Visual Design at Compfest X</p>
                <p class="text-windu">Staff of Creative at Even Graduation of Computer Science 2018</p>
            </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container-fluid bg-dark">
        <p class="float-right">
          <a href="#" class="headerr">Back to top</a>
        </p>
        <p>This's the last page of Windu's profile. It's very simple coz i just do it to know the basic of web programming</p>
        <p>Want to contact me? <a href="https://www.instagram.com/winduandira/" class="headerr">Follow on Instagram</a> and schedule your agenda <a href="{% url 'register' %}" class="headerr">here</a>.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
  </body>
</html>
